@charset "utf-8";


*{
    margin: 0;
    padding: 0;
}
body{
  font-family: 'Cafe24Oneprettynight';
  font-size: 16px;
  line-height: 1.5;
  color: #222;
  min-width: 1320px;
}
h1{
    font-family: 'Cafe24SsurroundAir';
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #222;
}
/* 메뉴 */
.header{
    width: 100%;
    background-color: rgba(0, 0, 0,0.5);
    position: absolute;
    top: 0;
    left: 0;
}
.header_in ul{
    display: flex;
}
.header_in{
    width: 1320px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    margin-right: 30px;
}
.header_in ul a{
    /* color: #fff; */
    display: block;
    border-radius: 50px;
    background-color: #A9A196;
    color: #fff;
    padding: 10px 20px ;
    margin-left: 10px;

}
.header_in ul a:hover{
    color: #56442C;
}

.banner{
    background: url(../images/about_banner.png) no-repeat center top;
    width: 100%;
    height: 900px;
}
.banner_in{
    width: 1320px;
    margin: auto;
    padding-top: 300px;
}
.banner_in h1{
    color: #fff;
    font-size: 50px;
}
.banner_in p{
    color: #fff;
    font-size: 30px;
}
.center{
    width: 1320px;
    margin: auto;
}
.center img{
   margin: 100px auto;
   display: block;
}
.text{
    width: 1320px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.t_left, .t_right{
    margin-top: 50px;
}
.t_left h2{
    font-size: 30px;
    font-family: 'Cafe24SsurroundAir' ;
    color: #505050;
    margin-bottom: 30px;
}
.t_left p{
    font-size: 20px;
}
.t_right h2{
    font-size: 30px;
    font-family: 'Cafe24SsurroundAir' ;
    color: #505050;
    margin-bottom: 30px;
}

.t_right p{
    font-size: 20px;
}

.bi{
    background-color: #EBE2CD;
    margin: 100px 0;
}
.bi_in{
    width: 1320px;
    margin: auto;
}
.bi_in h1{
    text-align: center;
    color: #505050;
    font-size: 40px;
   padding-top: 50px; 
}
.bi_in h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.bi_in p{
    margin-bottom: 30px;
}
.bi_in img{
    margin-bottom: 150px;
}
.bi_in ul{
   padding-top: 30px;
}
.bi_in ul, li{
    display: flex;
    justify-content: space-between;
    font-family:'Cafe24SsurroundAir' ;
    font-size: 16px;
}
.map{
    width: 1320px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.map h1{
    width: 100%;
    margin-bottom: 50px;
    color: #505050;
    font-size: 40px;
}
.map  p{
    line-height: 60px;
    font-size: 16px;
    font-family:'Cafe24SsurroundAir' ;
}

/* 푸터 */
.footer{
    background-color: #BFB1A4;
    padding: 50px 0;
}
.footer_in{
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.left{
    color: #fff;
}
.left p{
    font-size: 14px;
}
.left span{
    padding: 0 30px;
}

.right{
    display: flex;
}
.text_right a{
    display: block;
    font-size: 14px;
    color: #fff;
}
.text_right a:hover{
    color: #4A290B;
}
.text_right{
    margin-right: 80px;
}
.sns a:hover{
    opacity: 0.5;
}